.contact-hero{

    padding:180px 8% 100px;

    text-align:center;

}

.contact-hero h1{

    font-size:4rem;

    margin-bottom:20px;

}

.contact-hero p{

    color:var(--silver);

    max-width:850px;

    margin:auto;

    line-height:1.8;

}

.contact-grid{

    padding:50px 8%;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:25px;

}

.contact-card{

    background:rgba(255,255,255,.05);

    border-radius:20px;

    padding:35px;

    text-align:center;

}

.contact-card h3{

    color:var(--gold);

    margin-bottom:15px;

}

.contact-card p{

    color:var(--silver);

    margin-bottom:15px;

}

.contact-card a{

    color:var(--gold);

}

.contact-form-section{

    padding:80px 8% 120px;

}

form{

    max-width:800px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:20px;

}

input,
textarea{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    color:white;

    padding:18px;

    border-radius:15px;

    font-family:Poppins;

}

textarea{

    resize:none;

}

input:focus,
textarea:focus{

    outline:none;

    border-color:var(--gold);

    box-shadow:
    0 0 20px rgba(212,175,55,.2);

}